@using DotStark.XBK.GoogleMapWidget
@using Kentico.PageBuilder.Web.Mvc
@using Kentico.Web.Mvc
@model GoogleMapWidgetViewModel

@if (Model.ApiKey == null)
{
    <p class="text-center">Please add API Key in appsettig.json file to display Google Map</p>
}
else if (Model.IsVisible)
{
    <style>
        #map
        {
            height:400px;
        }
    </style>
    <div id="map" class="w-100 @Model.CssClass"></div>
    <script>
        function initMap() {
            var location = { lat: @Model.Latitude, lng: @Model.Longitude };
            var map = new google.maps.Map(document.getElementById('map'), {
                zoom: 15,
                center: location
            });

            var marker = new google.maps.Marker({
                position: location,
                map: map
            });
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=@Model.ApiKey&callback=initMap"></script>
}